First, let's import required packages.

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

Then, we read data and check first couple of rows as well as its size.

In [2]:
data = pd.read_csv('../data/raw/train.csv')

As the dataset is relatively large with 1306122 rows and we will have some difficulty if the whole dataset is considered. Therefore, we do random stratified sampling and keep only 20% of data.

In [3]:
data = data.groupby('target', group_keys=False).apply(lambda x: x.sample(frac=0.20))

In [4]:
data.shape

(261224, 3)

In [5]:
data.head()

,qid,question_text,target
151570,1da4b096efd9dff192bd,Why is it so that Redmi phones are so cheap? D...,0
316468,3e074322cfada3aa0bd9,Why does the white light split on the first re...,0
54523,0ab46d8fbfcce573cd46,I have a hard time making friends. I believe b...,0
352225,45098dacd6d10cc6008c,What is angular twist?,0
240442,2f08ac299c5c447cc6b9,Is there any chance of me getting into NIT wit...,0

In [6]:
X = data[['qid', 'question_text']]
y = data['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, 
                                                    test_size=0.25, random_state=42)

In [7]:
X_train.shape

(195918, 2)

In [15]:
y_train.shape

(195918,)

In [8]:
X_test.shape

(65306, 2)

In [9]:
np.mean(y)

0.061870272256760485

In [10]:
np.mean(y_train)

0.06187282434487898

In [11]:
np.mean(y_test)

0.06186261599240499

In [17]:
X_train.to_csv('../data/interim/X-train.csv')
y_train.to_csv('../data/interim/y-train.csv')

In [18]:
X_test.to_csv('../data/interim/X-test.csv')
y_test.to_csv('../data/interim/y-test.csv')